@import "tailwindcss";
/* 
body {
  background-image: url("https://img.freepik.com/premium-vector/green-stripes-decorative-seamless-pattern-repeating-background-tileable-wallpaper-print_153302-853.jpg");
} */

/* https://marketplace.canva.com/EAGFWr-O7YA/1/0/900w/canva-green-leaf-aesthetic-minimalist-wallpaper-phone-4-1hrnwjCco.jpg */
.background {
  /* background: #f4f4f4; */
  background-image: url("https://img.freepik.com/premium-vector/green-stripes-decorative-seamless-pattern-repeating-background-tileable-wallpaper-print_153302-853.jpg");
  /* background-repeat: no-repeat; */
  /* background-size: cover;
  background-position: top; */
}
